<div class="main-container">
 <div class="text-col">
  <h1>Banking Services for digital nomads</h1>
  <p>Open a U.S., U.K. and European bank account for free to receive and make foreign payments or convert currencies, all in one place.</p>
   <div class="text-col-btns">
    <button>Get it on google play</button>
    <button>Download on App store</button>
   </div>
  
 </div>

 <div class="main-img"><img src="../../assets/4725542_45103.jpg"/></div>
</div>

<h1>Free USD, GBP and EUR accounts for all your international transactions</h1>


<div class="container-2">

 <div class="container-2-texts">

  <div class="sub-container">
   <h3>Get paid by foreign employers and clients</h3>
   <p> Use your acccount details to receive pounds, dollars and euros like a local and manage your earnings. Invoice like a local and manage your earnings.</p>
   <a> Learn more</a>
  </div>
  <div class="sub-container">
   <h3>Instant currency exchange</h3>
   <p> Enjoy quick and efficient online foreign exchange transactions. Say goodbye to bank queues and disappointments</p>
   <a> Learn more</a>
  </div>
  <div class="sub-container">
   <h3>Send and receive money quickly</h3>
   <p>Enjoy fast global money transfer with your international bank account on Swiftpay.</p>
   <a> Learn more</a>
  </div>

 </div>

 <div class="sub-img"><img src="../../assets/638fbed5a3121e681881c8d6_CCF-Mobile-App-Phones.png"/></div>
</div>

<div class="container-3">

  <div class="header-texts">
    <h1 class="header-texts-heading"> How to open a free foreign bank account</h1>
    <p class="header-texts-paragraph">Opening an account has never been this seamless.</p>
  </div>

  <div class="body-texts">

    <div class="section-texts">
      <h4>1</h4>
      <h2>Register in minutes</h2>
      <p>Sign up online, or in our app with your email address</p>
    </div>
    <div class="section-texts">
      <h4>2</h4>
      <h2>Complete KYC verification</h2>
      <p>Verify your identity using your government issued ID</p>
    </div>
    <div class="section-texts">
      <h4>3</h4>
      <h2>Get your virtual account</h2>
      <p>Share your account details to get paid, or spend around the world with your debit card</p>
    </div>

  </div>

  <button class="container-3-btn">Get started - for free </button>

</div>

<div class="container-4">

  <h1> You have nothing to worry about</h1>

  <div class="body-container-4">

    <div class="body-section">
      <img alt="image"/>
      <h4>Secured Funds</h4>
      <p>We don't lend out your money and we make sure that it's always secure with our institutional partners so you have nothing to worry about.</p>
    </div>
    <div class="body-section">
      <img alt="image"/>
      <h4>Fraud Protection</h4>
      <p>Our AML and security teams are dedicated to keeping your account safe and protected from fraud at all times.</p>
    </div>
    <div class="body-section">
      <img alt="image"/>
      <h4>Data Security</h4>
      <p>We protect your information with us and it's always secure. We collect and use your information fairly, lawfully and transparently.</p>
    </div>
    <div class="body-section">
      <img alt="image"/>
      <h4>Secure Transactions</h4>
      <p>Your account is protected with 2FA and only you have access to it. <span>Learn how to set up 2-factor authentication here</span></p>
    </div>

  </div>
</div>


<div class="tweet-container">

  <div class="tweet-header-texts">
    <h1>Dont just take our word for it</h1>
    <p>We serve thousands of customers and this is what people are saying about us</p>
  </div>

  <div class="tweet-body">

    <div class="first-tweet">

      <div class="tweeter-info">
        <img alt="image" class="tweeter-profile-img"/>
        <div class="tweeter-names">
          <h1>Design Preacher</h1>
          <p>@DannyEmenyke</p>
        </div>
      </div>

      <div class="tweet-text"><span>@swiftpay</span> sabi this customer service thing</div>

    </div>
    <div class="second-tweet">

      <div class="tweeter-info">
        <img alt="image" class="tweeter-profile-img"/>
        <div class="tweeter-names">
          <h1>Digital Cubana CA</h1>
          <p>@_thetrillionair</p>
        </div>
      </div>

      <div class="tweet-text"><span>@swiftpay</span><br/>That's the tweet <br/> Best rate ever!!!!!</div>

    </div>
    <div class="third-tweet">

      <div class="tweeter-info">
        <img alt="image" class="tweeter-profile-img"/>
        <div class="tweeter-names">
          <h1>Stephen Nwankwo</h1>
          <p>@Mirrowss</p>
        </div>
      </div>

      <div class="tweet-text"><span>@swiftpay</span> fintech of the year. The knight in shining armor for Nigerian remote workers </div>

    </div>

  </div>
</div>


<div class="resource-container">

  <div class="resource-header">
    <h1>Resources to learn more about how Swiftpay works</h1>
    <p>Expertly curated articles to help you understand how our foreign accounts work.</p>
  </div>

  <div class="resource-body">

    <div class="first-article">
      <img alt="image"/>
      <h3>Everything You Need to Know About the Portugal Digital Nomad Visa (2023)</h3>
      <p>Winner Ajibola / August 16, 2023</p>

    </div>
    <div class="second-article">
      <img alt="image"/>
      <h3>A Guide to Influencer Marketing: Success Tips from Lorem Ipsom</h3>
      <p>Winner Lorem / August 11, 2023</p>

    </div>
    <div class="first-article">
      <img alt="image"/>
      <h3>A list of Visa-free Countries for Nigerian Passport Holders</h3>
      <p>Ngozi Ipsom / August 9, 2023</p>

    </div>

  </div>
</div>

<div class="get-app-container">

  <div class="get-app-subcontainer">

    <div class="get-app-texts">
      <h1>Get digital banking at your fingertips</h1>
      <p>Get our mobile app on any device you use on the App Store or Google Playstore</p>
      <div class="get-app-btns">
        <button>Get it on Google Play</button>
        <button>Download on  the App Store</button>
      </div>
    </div>

    <img alt="image"/> 
  </div>
</div>

<footer>

  <div class="footer-header">
    <h1>Sign up on Grey and start receiving foreign payments</h1>
    <button >Get started - for free </button>
  </div>

  <div class="footer-links-one">

    <div class="links-one-section">
      <h4>Products</h4>
      <a href="#">Money Transfer</a>
      <a href="#">Virtual Cards</a>
      <a href="#">Currency Exchange</a>
      <a href="#">Foreign Accounts</a>
    </div>
    <div class="links-one-section">
      <h4>Company</h4>
      <a href="#">Blog</a>
      <a href="#">In the Press</a>
      <a href="#">Careers</a>
    </div>
    <div class="links-one-section">
      <h4>Discover</h4>
      <a href="#">Freelancers</a>
      <a href="#">Digital Nomad</a>
      <a href="#">Traveler / Tourist</a>
      <a href="#">Foreign Accounts</a>
    </div>
    <div class="links-one-section">
      <h4>Legal</h4>
      <a href="#">Acceptable Use Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
    </div>

  </div>

  <div class="footer-links-two">

    <div class="links-two-section">
      <h4>Support</h4>
      <a href="#">Help Center</a>
    </div>
    <div class="links-two-section">
      <h4>contact Us</h4>
      <a href="#">hello@swiftpay.com</a>
      <div class="links-two-icons">
        <img alt="twitter"/>
        <img alt="instagram"/>
        <img alt="youtube"/>
      </div>
    </div>

  </div>

  <p>Swiftpay is a financial technology company, not a bank. Banking services are provided by licensed banking partners</p>
  <p>Canadian services are offered by Lorem Finance Inc with registered address at 1234 South Broadway Suite 600 Ipsom BC V6H 3X8. Canada. Lorem Finance Inc. is regulated by FINTRAC.</p>
  <p>US services are offered by Swiftpay Inc.(formerly Lorem Africa Inc.) with its registered adress at 1234 South Broadway Suite 600 Ipsom BC V6H 3X8. US. Lorem Finance Inc. is regulated by FinCEN </p>

  <p>Copyright Swiftpay Inc. 2023</p>

</footer>