<div class="container">

  <div class="upper-nav">
    <a href="#" class="current-page individuals">For Individuals</a>
    <a href="#" class="businesses">For Businesses</a>
  </div>

  <div class="bottom-nav">
    <div class="logo">
      <img class="logo-img"  src="../../assets/eagle_448311.png"/>
      <h1 class="logo-title">SwiftPay</h1>
    </div>

    <div class="links">
     <ul class="ul">
      <li class="list-items"><a href="#">Products</a></li>
      <li class="list-items"><a href="#">Blog</a></li>
      <li class="list-items"><a href="#">Help Center</a></li>
     </ul>

     <button class="login">Login</button>
     <button class="signup">Get started - for free</button>

    </div>
  </div>
</div>
