.container { 
  height: 95vh;
  margin: 0;
  display: flex;
 align-items: center;
 justify-content: center;
}
.background{
 background-color: black;
 width: 8rem;
 height:8rem;
 border-radius: 8px;
 animation:loading 1s infinite;
 box-shadow: 0px 0px 1px 1px #0000001a;
}
.logo{
 max-width: 100%;
 display: block;
 object-fit: cover;
}
@keyframes loading {
  0%   {transform: scale(0.85);}
  50%{transform: scale(1);}
  100%  {transform: scale(0.85);}
}